fastapi==0.88.0
pydantic==1.10.4
psutil==5.9.5
python-dotenv==0.21.0
python-ms-core==0.0.16
jsonschema==4.17.3
httpx==0.24.1
coverage==7.2.7
html_testRunner==1.2.1
gtfs-canonical-validator==0.0.3
uvicorn==0.20.0
